
<div class="button-group">
  <a class="button" href="/publishers">All Publishers</a>
  <a class="button" href="/publishers/new"> Add New Publisher</a>
  <a class="button" href="/books">All Books</a>
  <a class="button" href="/books/new">Add New Book</a>
</div>
