<!DOCTYPE html>
<html>
<head>
  <title>Music Shop</title>
  <link href="https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans|Merriweather|Merriweather+Sans|Nunito|Nunito+Sans|Quattrocento|Quattrocento+Sans|Roboto|Roboto+Mono|Roboto+Slab" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>

<div id='nav'
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/publishers">All Publishers</a>
    <ul class="dropdown">
      <li><a href="/publishers/new"> Add New Publisher</a></li>
    </ul>
  </li>
  <li><a href="/books">All Books</a>
    <ul class="dropdown">
      <li><a href="/books/new">Add New Book</a></li>
    </ul>
  </li>
</ul>
</div>




<body>



  <%= yield %>

</body>


</html>
