<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'
  <title>Music_Shop</title>
  <link rel='stylesheet' href="/style.css" type="text/css">
</head>

<body>

  <nav>
    <a href="/">Home</a>
    <a href="/publishers">All Publishers</a>
    <a href="/publishers/new"> Add New Publisher</a>
    <a href="/books">All Books</a>
    <a href="/books/new">Add New Book</a>
  </nav>

  <%= yield %>

</body>


</html>
