<h1> Warning, if you delete a publisher<br> all the associated books will be deleted also! </h1>


<p> Are you sure you want to delete <%=@publisher.name%>?</p>

<form method = "post" action="/publishers/<%=@publisher.id %>/delete">
  <input type="submit" value= "Delete Publisher"/>
</form>
