
<div class="form-div"
<form action="/publishers" method="post">

  <label for="name"></label>
    <input id="name" type="text" name="name" placeholder="Name" />

  <label for="country"></label>
    <input id="country" type="text" name="country" placeholder="Country" />

  <label for="website"></label>
    <input id="website" type="text" name="website" placeholder="Website URL"/>

  <input type="submit" value = "Add Publisher" />

</form>
</div>
